.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.card-body{
  padding: 0 !important;
}
.card-body img{
  width: 100%;
  height: auto;
}

.product {
  margin: 0;
  overflow: auto;
}

.product__price {
  line-height: 34px;
  color: rgb(226, 0, 0);
}

.product__button-wrap {
  float: right;
}

ul{
  list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
  float: left;
}

.product_thumb{
  display: block;
  text-align: center;
  padding: 5px;
  text-decoration: none;
}

img{
  width: 200px;
}

.product-details {
  cursor: pointer;
  padding: 1rem;
}

.product-details .btn {
  width: 100%;
  height: 50px;
  border-radius: 0;
}

.custom-btn{
  width: 100%;
  height: 50px;
  border-radius: 0 !important;
}

.product-details-container label {
  color: #6c757d;
}

.section-title {
  background-color: #0672b9;
  padding: 1rem;
  margin: 2rem 0;
  border-radius: 5px;
  color: white;
  font-size: 21px;
}


.form-control {
  font-size: 0.8rem;
  font-weight: 500;
  border-radius: 0.1rem;
}

.no-validation {
  border-color: #ced4da !important;
  box-shadow: none !important;
  background-image: none !important;
}

.section-body {
  font-weight: 500;
  padding: 0 3rem;
  background-color: #fff;
}
.data-table-responsive {
  width: 100%;
  overflow: auto;
  font-size: 11px;
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
